<div class="panel panel-primary">
  <div class="panel-heading">
    {{ title }}
  </div>
  <div class="panel-body">
    <form [formGroup]="Aform" novalidate>
      <div class="form-group">
        <label class="col-md-4">Coin Name</label>
        <input type="text" class="form-control" formControlName="name" #name>
      </div>
      <div *ngIf="Aform.controls['name'].invalid && (Aform.controls['name'].dirty || Aform.controls['name'].touched)" class="alert alert-danger">
        <div *ngIf="Aform.controls['name'].errors.required">
          Name is required.
        </div>
      </div>
      <div class="form-group">
        <label class="col-md-4">Coin Price</label>
        <input type="text" class="form-control" formControlName="price" #price>
      </div>
      <div *ngIf="Aform.controls['price'].invalid && (Aform.controls['price'].dirty || Aform.controls['price'].touched)" class="alert alert-danger">
        <div *ngIf="Aform.controls['price'].errors.required">
          Price is required.
        </div>

      </div>
      <div class="form-group">
        <button (click)="addCoin(name.value, price.value)" [disabled]="Aform.pristine || Aform.invalid" class="btn btn-primary">Add</button>
      </div>
    </form>
  </div>
</div>
